body {
    max-width: 1200px;
    /* Limitaré el ancho máximo del VIEWPORT igual que en el ejercicio anterior. En desktops, Smart TVs, etc, no ocuparía el ancho completo. 
    En el HEAD del ducumento HTML tenemos viewport -> width=device-width. Con esta instrucción será "device-width" hasta un máximo de 1200 px. */
    margin: auto;
    font-family: Poppins;
    
    .poppins-thin-small {
      font-family: "Poppins", sans-serif;
      font-size: small;
      font-weight: 100;
      font-style: normal;
    }

    .poppins-thin {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
      
    .poppins-extralight {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
      
    .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
      
    .poppins-semibold {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
}

header {
  position:relative; /* ESTE NO LO TENÍA : LO NECESITO PARA LA TRANSPARENCIA CLASE .BANNER-BOX */
  /*
  https://www.w3schools.com/css/css_positioning.asp
  https://www.w3schools.com/css/tryit.asp?filename=trycss_zindex3
  */
  display:flex; /* ESTE NO LO TENÍA *********** */
  flex-direction: column ; /* ESTE NO LO TENÍA *********** */
  height: 40vh;
  padding: 40px;
  margin-bottom: 8px;
}

/*
ME COSTÓ MUCHO TRABAJO HACER EL FONDO DE COLOR SUPERPUESTO COMO TRANSPARENCIA SOBRE LA IMAGEN BACKGROUND DEL HEADER
HACER 2 CLASES SEPARADAS, UNA POR IMAGEN, NO FUNCIONÓ
Recursos :
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_backgrounds_and_borders/Using_multiple_backgrounds
https://www.w3schools.com/css/css3_backgrounds.asp

CLASE OVERLAPPING TRANSPARENCY : Se visualiza llenando la totalidad del HEADER y no los porcentajes indicados
.background-box {
  background-color: rgba(246, 245, 245, 0.52);
  background-position: center bottom;
  background-size: 80% 35%;
  background-repeat: no-repeat;
}
*/

/*
PROBÉ A HACER UNA ÚNICA CLASE QUE ACOPLASE EL CUADRO DE COLOR Y LA IMAGEN : TAMPOCO FUNCIONÓ
.background-header {
  background-color: rgba(246, 245, 245, 0.1);
  background-image: url("../img/headerCrop.jpg");
  background-position: center bottom, center;
  background-size: 80% 35%, cover;
  background-repeat: no-repeat, no-repeat;
}
*/

/*CLASE IMAGEN BACKGROUND*/
.background-img {
  background-image: url("../img/headerCrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.banner-box {
  text-align: center;
  align-self: center;
  position: absolute;
  width: 80%;
  height: 25%;
  bottom:0px;
  background-color: rgba(84, 63, 129, 0.3);
  padding: 20px 15px;
}

.slogan {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  opacity: 0.2;
}

.top-bar {
  /* Para que el "sticky menu" a continuación funcione debe ser un contenedor no "embebido" dentro de otro contenedor
  position:sticky;
  top: 0;
  z-index: 10000;
  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 10vw;
  height:auto;
}

nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*flex-flow: row;*/
}

.material-symbols-outlined{
  font-size: 15px;
  margin-right: 5px;
  vertical-align:middle;
}

.nav-link {
  color:darkgrey;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0px 10px;
  padding: 0px 5px; 
  text-decoration: none;
}

.nav-link:hover {
  color:black;
  /*padding: 5px;*/
  background-color: lightblue;
}

.social img {
  margin: 0px 5px;
  width: 20px;
  height:auto;
}

.social:hover{
  opacity: 0.5;
}

/*
.midsection{
  display:inline-block;
  width: 100%;
}
  */


.midsection {
  display: flex;
  /*flex-wrap: wrap;*/
  /*padding: 30px;*/
}


.leftsection {
  background-color: lightgray;
  width: 75%;
  /*padding: 15px;*/
}

.articles {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
  /*padding: 15px;*/
}

.elemento {
  display:inline-block;
  justify-content: space-around;
  max-width: 47%;
  /*object-fit: contain;*/
  /*box-sizing: border-box;*/
  background-color: aliceblue;
  margin : 10px;
  padding: 10px;
  box-sizing: border-box;
  /*flex-direction: column;*/
  /*display:flex;*/
}

.elemento img {
  width:100%;
  height:auto;
}

.published{
  color: rgb(234, 235, 223);
  font-size: larger;
  margin-top: -30px;
  margin-left: 5px;
}

.titulo {
  background-color: coral;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  font-weight: 600;
  font-style: normal;
  padding: 10px 10px 1px 10px;
  margin: 0px;
}

.elemento-texto {
  column-count: 2;
  column-gap: 15px;
  margin: 10px;
}

.full-article{
  margin: 10px;
  color: gray;
  text-decoration: none;
}

.full-article:hover{
  color: black;
  font-weight: bold;
}

aside {
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align:center;
  /*display:flex;
  flex-wrap: wrap;*/
  width: 25%;
  padding: 20px;
  margin-left: 15px;
  box-sizing: border-box;
  /*float: right;*/
  background-color: lightgray;
}

.navegacion {
  margin: 5px 20px 0px 20px;
  text-align: justify;
}

.footerbox{
  text-align: center;
  margin-top: 8px;
  padding: 5px;
  background-color: aliceblue;
}

@media (max-width: 1024px){
  .midsection{
    display:inline-block;
    width: 100%;
  }
  .leftsection{
    display:inline-block;
    width: 100%;
  }
  .navegacion{
    margin: 0px;
    padding: 30px;
  }
  aside{
    display:inline-block;
    width: auto;
    margin-left: 0px;
  }
}

@media (max-width: 767px){
  .logo{
    width: 12vw;
    height:auto;
  }
  /* Para posicionar el menú de navegación vertical y alinear con los pictogramas, en lugar de centrando el texto
  nav{
    flex-direction: column;
    align-items:flex-start;
  }
  */
  .nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .text-link{
    display: none;
  }
  .nav-link:hover{
    .text-link{
      display: contents;
    }
  }
  .material-symbols-outlined{
    font-size: 25px;
    margin-right: 0px;
    vertical-align:middle;
  }
  .background-img {
    background-image: url("../img/header.jpg");
  }
  .midsection{
    display:inline-block;
    width: 100%;
  }
  .leftsection{
    display:inline-block;
    width: 100%;
  }
  .elemento{
    max-width: 100%;
  }
  .navegacion{
    margin: 0px;
    padding: 30px;
  }
  aside{
    display:inline-block;
    width: auto;
    margin-left: 0px;
  }
}

@media (max-width: 580px){
  h2{
    font-weight: 200;
  }
  /* La siguiente instrucción es para posicionar el menú de navegación vertical y alinear con los pictogramas, en lugar de centrando el texto
  Debería crear un pictograma que sustituyese la columna y la mostrase/ocultase al hacer click sobre él*/
  nav{
    flex-direction: column;
    align-items:flex-start;
  }
  .nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .material-symbols-outlined{
    font-size: 20px;
    margin-right: 5px;
    vertical-align:middle;
  }
  .text-link{
    display: contents;
  }
}