/*
https://www.w3schools.com/cssref/css3_pr_flex.php
*/

body{
    max-width: 1200px;
    margin:auto;
}

header{
    background-color: black;
    padding: 40px;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    background-color: dimgray;
    padding: 30px;
}

.logo{
    padding: 25px 20px;
    background-color: salmon;
    color: white;
    text-align: center;
    flex: 1 1 auto;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: salmon;
    padding: 0px 10px;
    margin: 0px 30px;
    flex: 3 1 auto; /* esta instrucción la uso en los 3 elementos del contenedor "top-bar" (logo-nav-social). NAV ocupará el triple del espacio horizontal y separo con márgenes laterales que debo suprimir con media query al pasar sus elementos a disponerse en una columna. Los 3 componentes : grow - shrink - %... Debo verlo en más detalle */
}

.nav-link{
    color: white;
    text-align:center;
    background-color: rgb(30, 13, 65);
    margin: 15px 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-link:hover{
    color:salmon;
    background-color:blue;
}

.social{
    padding: 25px 20px;
    background-color: salmon;
    color: white;
    text-align: center;
    flex: 1 1 auto;
}

.banner-box{
    display:flex;
    margin-top: 40px;
    padding: 30px;
    background-color: darkorange;
}

.banner{
    display:inline-block;
    object-fit: contain;
    padding: 30px;
    background-color:gold;
    width: 100%;
    max-height: auto;
}

.midsection{
    display: flex;
    background-color: black;
    margin: 40px 0px;
    padding: 40px;
}

.leftsection{

    background-color:aqua;
    width:85%; /* En lugar de definir 85% (aside 15%) pude haber utilizado la instrucción flex(grow-shrink-xx) como con el menú, estableciendo proporcionalidad */
    padding: 15px;
}

.columnas{
    display:flex;
    justify-content:space-between;
    flex-wrap :wrap;
    width: 100%;
}

.elemento{
    flex: 1 1 auto; /* Los distintos "article" crecen y encogen manteniendo el espaciado siempre igual. Funciona porque la class "columnas" es flex... */
    color: white;
    width: 46.25%;
    margin: 15px;
    padding: 30px 30px;
    background-color: rgb(52, 19, 220);
    box-sizing: border-box;
}


article {
    margin: 15px;
    padding: 30px 30px;
    background-color: rgb(52, 19, 220);
}

.navegacion{
    background-color: rgb(140, 179, 128);
    margin:  15px;
    padding: 20px 20px;
}

aside {
    display:flex;
    flex-wrap: wrap;
    width: 15%; /* En lugar de definir 15% (left-section 85%) pude haber utilizado la instrucción flex(grow-shrink-xx) como con el menú, estableciendo proporcionalidad */
    padding: 30px;
    margin-left: 30px;
    background-color: lightgray;
}

.publicidad {
    display:inline-block;
    padding: 10px;
    background-color:gold;
    width: 100%;
}

footer{
    display: flex;
    background-color: black;
    height:fit-content;
    padding: 40px;
}

.footerbox{
    padding: 30px;
    background-color:gold;
    width: 100%;
}

@media(1025px <= width <= 1141px){
    .elemento{
        width: 45.7%;
    }
}

@media (max-width: 1024px) {
    .midsection{
        display:block;
    }
    .leftsection{
        width:auto;
    }
    aside{
        margin-top: 40px;
        margin-left: 0px;
        width: auto;
    }
}

@media (max-width: 910px) {
    
    nav{
        margin: 30px 0px;
    }
    .top-bar{
        flex-direction: column;
    }
    .logo{
        flex-direction: column;
    }
    .social{
        flex-direction: column;
    }
    .elemento{
        width: 45.4%;
    }
}

@media (max-width: 767px) {
    .elemento{
        width: 100%;
    }
}

@media (max-width: 550px) {
    nav{
        display:inline-flex;
        flex-direction:column;
        justify-content: center;
        padding: 20px;
    }
    .nav-link{
        flex-direction:column;
    }
}

/* colapsar el menu y poner un pictograma : VER CLASES CIBERNARIUM */